.postFormCard {
    width: 500px;
        border-radius : 15px;
}

.reactQuill {
    padding: 20px;
    width: 500px;
    background: white;
    border-radius : 15px;
}

.postFormBtnGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.postButton {
    font-size: 12px;
}


.imageAvatar {
    object-fit: cover;
}

.cameraIcon {
    font-size: 30px;
    color: rgb(101, 171, 236);
    cursor: pointer;
}

.imageLoading {
    padding: 10px;
}

@media only screen and (max-width : 525px){
    .postFormCard{
        width: 335px;
    }
    .reactQuill{
        width: 335px;
    }
}