.container {
    // background: white;
    width: 90%;
    height: 1200px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    scroll-behavior: smooth;    

    .postsContainer{
        overflow:-moz-hidden-unscrollable;
    }
}

.sidebar_link_button_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(19, 114, 202);
    color: white;
    border-radius: 25px;
    cursor: pointer;
}

.sidebar_link_button{
    color: white;
    background-color: rgb(19, 114, 202);
    cursor: pointer;
    padding: 15px;
    font-size: 15px;
    border: none;
    outline: none;
    margin-left: 5px;
}

.sidebar_links {
    display: flex;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;

    .sidebar_link_item {
        margin: 5px 0;
        padding: 0 5px;
        width: 200px;
        transition: all .3s ease;
        // background: red;
    }

    .sidebar_link_item:hover {
        background: rgba(0, 0, 0, 0.4);
    }

    span {
        font-family: Arial, Helvetica, sans-serif;
        padding: 0 5px;
        border-radius: 10px;
        padding: 10px 0;
        display: flex;
        align-items: center;
    }
}


@media only screen and (max-width : 1060px){
    .sidebar_links{
        display: none;
    }   
}

@media only screen and (max-width : 795px){
    .container{        
        justify-content: center;
        flex-wrap: wrap;
    }

    .search__section{
        width: 100%;
    }
}

