.container{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

@media only screen and (max-width : 525px){
    .container{
        width: 90%;
    }
    .card{
        width: 335px;
    }
}